:root{
  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}
.role__631a3 {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role__631a3 .roleRemoveIcon__7f63d {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role__631a3 .roleRemoveButton__737f2{position: static}
.role__631a3 .roleCircle_bae511:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}